body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: slategrey;
    background-color: rgba(18, 18, 22, 0.959)
}

ul {
    font-size: large;
    font-variant-caps: all-small-caps;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline;
}
 /* p {
   border-style: dashed;
    align-content: center;
 } */
 /* div{
     color: white;
     border-radius: 3px;
     border-style: groove;
     align-content: center;
     width: 200px;
     align-self: auto;
 } */
 .right {
     float: right;
 }  
 .blkfnt{
     color: black;
 }
 .white{
     color: white;
 }
.bottom{
    float:bottom;
}
#footer{
    position: absolute;
    bottom: 0%;
    left: 0%;
    right: 0%;
    margin: auto;
    padding-bottom: 20px;
}
 /* also touched changed */