body {
    font-family: "Baskerville Old Face", serif;
}

.list {
    font-size: large;
    font-variant-caps: all-small-caps;
    color: blue;
}
 p {
   border-style: dashed;
    align-content: center;
 }
 div{
     background-color: dodgerblue;
     color: white;
     border-radius: 3px;
     border-style: groove;
     align-content: center;
     width: 200px;
     align-self: auto;
 }
 .right {
     float: right;
 }  
 /* also touched changed */