body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: slategrey;
    background-color: rgba(18, 18, 22, 0.959)
}

ul {
    font-size: large;
    font-variant-caps: all-small-caps;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline;
} 

 p {
   border-style: dashed;
 }
 .center {
    position: relative;
    width: fit-content;
    text-align: center;
    font-size: 18px;
 }
 .container {
     width: 20%;
     height: 20%;
 }
 .bgColor{
     background-color: blue
 }
.right {
     float: right;
 }  
 .blkfnt{
     color: black;
 }
 .white{
     color: white;
 }
.bottom{
    float:bottom;
}
#footer{
    position: absolute;
    width: 99%;
    bottom: 0%;
    text-align: center;
    padding-bottom: 20px;
}
 